{% extends "base.html" %}
{% block title %} edite_book {% endblock %}
{% block book %}active{% endblock %}
{% block content %}

    <div class="myform">
        <form class="form-horizontal" action="{% url 'apone:edite_book' books_list.id %}" method="POST">
            <div class="row">
                <div class="form-group hidden">
                    <label for="student_name" class="col-sm-2 control-label">id：</label>
                    <div class="col-sm-9">
                        <input type="text" name="book_id" id="student_name" class="form-control "
                               value="{{ books_list.id }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="student_name" class="col-sm-2 control-label">书名：</label>
                    <div class="col-sm-9">
                        <input type="text" name="book_name" id="student_name" class="form-control "
                               value="{{ books_list.name }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="class_name" class="col-sm-2 control-label">作者:</label>
                    <div class="col-sm-9">
                        <select multiple name="writer_id" class="form-control">
                            {% for writer in writers_list %}
                                {% if writer == books_list.writer %}
                                    <option selected value="{{ writer.id }}">{{ writer.name }}</option>
                                {% else %}
                                    <option value="{{ writer.id }}">{{ writer.name }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="class_name" class="col-sm-2 control-label">出版社:</label>
                    <div class="col-sm-9">
                        <select name="publisher_id" class="form-control">
                            {% for publisher in publisher_list %}

                                {% if publisher == books_list.pub_company %}
                                    <option selected value="{{ publisher.id }}">{{ publisher.name }}</option>
                                {% else %}
                                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="student_name" class="col-sm-2 control-label">出版日期：</label>
                    <div class="col-sm-9">
                        <input type="text" name="pub_date"
                               id="student_name" class="form-control "
                               value="{{ books_list.pub_date |date:"Y-m-d" }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="student_name" class="col-sm-2 control-label">主要内容:</label>
                    <div class="col-sm-9">
                        <input type="text" name="main_content" id="student_name" class="form-control "
                               value="{{ books_list.main_content }}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <input type="submit" class="btn btn-primary" value="提交">

                </div>
        </form>
    </div>
{% endblock %}